/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    direction: rtl;
}

.navbar-header {
    float: right;
}

.navbar-nav > li {
    float: right;
}

.fr {float:right}

.centered{
    margin: 0 auto;
}

.strong {font-weight: bold}

.btn-primary {
    background-color: #FF6831;
    border-color: #FF6839;
    color: #fff;
}

.btn-primary:hover {
    background-color: #FF4815;
    border-color: #FF5825;
}