[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0); }
  40% {
    -ms-transform: translateY(-30px); }
  60% {
    -ms-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0); } }
@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -ms-transform: translateY(30px); }
  80% {
    -ms-transform: translateY(-10px); }
  100% {
    -ms-transform: translateY(0); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0); } }
@-ms-keyframes tada {
  0% {
    -ms-transform: scale(1); }
  10%, 20% {
    -ms-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -ms-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -ms-transform: scale(1.1) rotate(-3deg); }
  100% {
    -ms-transform: scale(1) rotate(0); } }
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0); } }
@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center; }
  20% {
    -webkit-transform: rotate(15deg); }
  40% {
    -webkit-transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-ms-keyframes swing {
  20% {
    -ms-transform: rotate(15deg); }
  40% {
    -ms-transform: rotate(-10deg); }
  60% {
    -ms-transform: rotate(5deg); }
  80% {
    -ms-transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg); } }
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg); }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
            transform: perspective(400px) rotateX(-10deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg); }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px); } }
@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -ms-transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(-20px); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); } }
.bounce {
  -webkit-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.bounceInUp {
  -webkit-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.tada {
  -webkit-animation-name: tada;
  -ms-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -ms-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.flipInX {
  -webkit-animation-name: flipInX;
  -ms-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.my-btn, .contact .contact-us .form-container button {
  display: inline-block;
  font-family: 'Arial';
  background: #D7612B;
  border: none;
  padding: 15px 8px;
  color: white;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }
  .my-btn:hover, .contact .contact-us .form-container button:hover {
    background: #582711;
    opacity: 1; }

body, html {
  direction: rtl;
  font-family: 'yehuda_clm';
  font-weight: bold;
  overflow-x: hidden; }

a {
  cursor: pointer;
  text-decoration: none; }

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.row:after {
  content: " ";
  display: block;
  clear: both; }
@media (min-width: 785px) {
  .row .col-right {
    width: 47.36842%;
    float: right;
    margin-left: 5.26316%; } }
@media (min-width: 785px) {
  .row .col-left {
    width: 47.36842%;
    float: left;
    margin-left: 0; } }

@font-face {
  font-family: 'yehuda_clm';
  src: url("../fonts/yehudaclm-light-webfont.eot");
  src: url("../fonts/yehudaclm-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yehudaclm-light-webfont.woff") format("woff"), url("../fonts/yehudaclm-light-webfont.ttf") format("truetype"), url("../fonts/yehudaclm-light-webfont.svg#yehuda_clmlight") format("svg");
  font-weight: normal;
  font-style: normal; }
.relative {
  position: relative; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.fl {
  float: left; }

.view-animation.ng-enter {
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s; }

.mt {
  margin-top: 1em; }

.valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

@media (max-width: 785px) {
  .hide-on-mobile {
    display: none; } }

main.home {
  min-height: 100%;
  position: relative;
  background: url(../images/layout/bg.jpg) no-repeat fixed center center;
  background-size: cover;
  padding-bottom: 2em;
  text-align: center;
  padding: 0 1em 2em 1em;
  color: white; }
  main.home .cycle-date {
    color: #e1b828;
    font-weight: bold; }
  main.home .row {
    max-width: 800px;
    margin: auto;
    padding-top: 80px; }
    main.home .row h1 {
      margin: 0;
      font-size: 3.5em; }
    main.home .row h3 {
      color: #e1b828;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
      margin: 0;
      font-size: 2.7em; }
      @media (min-width: 785px) {
        main.home .row h3 {
          margin-right: 7em; } }
    main.home .row p {
      font-size: 1.4em;
      font-weight: 300;
      margin: 1em 0px 40px 0px; }
    main.home .row .btns {
      text-align: center; }
      main.home .row .btns .my-btn, main.home .row .btns .contact .contact-us .form-container button, .contact .contact-us .form-container main.home .row .btns button {
        margin-left: 1em; }
  main.home .col-left {
    text-align: right; }

nav.main-nav {
  background-color: rgba(5, 5, 5, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  -webkit-transition: font-size 0.2s;
          transition: font-size 0.2s; }
  nav.main-nav input[type=checkbox], nav.main-nav label {
    display: none; }
  nav.main-nav ul {
    list-style: none;
    margin: 0 auto; }
  nav.main-nav li {
    display: inline-block;
    line-height: 40px;
    position: relative;
    padding: 0 1.6em; }
    nav.main-nav li div {
      height: 2px;
      background: #e1b828;
      position: absolute;
      bottom: 0;
      width: 0;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    nav.main-nav li:hover a > i {
      color: #e9f48d; }
    nav.main-nav li:hover div {
      width: 110px; }
  nav.main-nav li a {
    color: #c8c8c8;
    width: 100%;
    display: inline-block;
    font-size: 1.2em; }
    nav.main-nav li a:hover {
      color: #fff; }
  nav.main-nav .active > div {
    width: 110px; }
  nav.main-nav.navWhenScroll {
    background-color: black;
    font-size: 0.8em; }
  nav.main-nav .logo {
    color: #ffffff;
    line-height: 40px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    margin-left: 1em; }
    nav.main-nav .logo:hover {
      color: #e1b828; }
    nav.main-nav .logo .symbol {
      color: #e1b828; }
      nav.main-nav .logo .symbol:hover {
        color: white; }

@media (max-width: 785px) {
  nav.main-nav {
    background-color: #050505;
    width: 100%; }
    nav.main-nav label {
      display: inline-block;
      width: 50px;
      cursor: pointer;
      margin-right: 20px;
      -webkit-transform: translateY(8px);
          -ms-transform: translateY(8px);
              transform: translateY(8px); }
      nav.main-nav label i {
        font-size: 2em !important;
        color: #fff; }
    nav.main-nav input[type=checkbox]:checked ~ ul {
      max-height: 350px; }
    nav.main-nav ul {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height .6s linear;
              transition: max-height .6s linear; }
    nav.main-nav ul li {
      display: block; } }
.button {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 14px 6px -1px gray;
  /* shadow */ }

.button span {
  background-color: #E8E8E8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(210, 210, 210, 0.3)), color-stop(20%, rgba(210, 210, 210, 0)), color-stop(80%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.5)), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, #D2D2D1), color-stop(60%, #D2D2D1), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  -webkit-box-shadow: 0px -1px #fff, 0px 1px 1px #FFFFFF;
  /* bottom edge */
  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  color: #76A163;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20', 'PT Sans Narrow';
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 1px #fff, 0px -1px #262F33; }

.button span:hover {
  color: #198130;
  text-shadow: 0px -1px #97A63A;
  cursor: pointer; }

.button:active {
  -webkit-box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 10px 2px 0px rgba(128, 128, 128, 0.6);
  /* shadow */ }

.button:active span {
  -webkit-transform: translate(0, 5px);
  /* depth of button press */ }

.you {
  color: #fff;
  background-color: #222;
  display: block;
  padding: 50px 0px; }
  .you h1 {
    color: #e1b828;
    font-size: 3em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    text-shadow: 4px 4px 2px #969696; }
  .you p {
    font-size: 1.6em; }
    .you p i {
      color: #D7612B; }
  .you .tc h3 {
    font-size: 2em;
    color: #D7612B; }
  .you .tl {
    margin-top: 2.7em; }

.check-anim-1 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.check-anim-2 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.check-anim-3 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.check-anim-4 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.check-anim-5 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

.check-anim-6 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }

.check-anim-7 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s; }

.us {
  background-color: #cedce7;
  background-image: -webkit-linear-gradient(bottom, #cedce7 0%, #596a72 100%);
  background-image: linear-gradient(to top, #cedce7 0%, #596a72 100%);
  display: block;
  padding-top: 20px; }
  .us .mark {
    color: #D7612B; }
  .us .title {
    text-align: center; }
    .us .title img {
      max-width: 200px; }
  .us h1 {
    font-size: 4em;
    margin-bottom: 0;
    color: black;
    text-shadow: 4px 4px 2px #e1b828; }
  .us .inner {
    padding-top: 2em; }
    .us .inner:after {
      content: "";
      display: table;
      clear: both; }
    .us .inner .desc {
      font-size: 1.2em; }
      @media (min-width: 785px) {
        .us .inner .desc {
          width: 49.15254%;
          float: right;
          margin-left: 1.69492%; } }
    @media (min-width: 785px) {
      .us .inner .main-img {
        width: 49.15254%;
        float: left;
        margin-left: 0; } }
    .us .inner .main-img img {
      max-height: 300px;
      display: block;
      margin: auto; }
  .us .company-logos {
    text-align: center;
    height: 60px; }
    .us .company-logos .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .us .company-logos img {
      vertical-align: middle;
      max-height: 60px; }

/* companyBox */
.training {
  color: #ddd;
  background: -webkit-linear-gradient(top, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%);
  background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%);
  display: block;
  padding: 20px 10px; }
  .training:after {
    content: "";
    display: table;
    clear: both; }
  .training .principles {
    color: #333;
    max-width: 1000px;
    margin: auto; }
  .training .desc {
    max-width: 600px;
    font-size: 1.3em; }
  .training img.cloud1 {
    position: absolute;
    right: 0px; }
  .training img.cloud2 {
    position: absolute;
    left: 20px; }
  .training hr {
    width: 40%;
    margin: auto;
    margin-top: 2em; }
  .training h2.tc {
    margin-bottom: 2em;
    color: #e1b828; }
  .training a.text-info {
    color: #fff; }
  .training .service-box {
    text-align: center;
    border-bottom: 1px solid transparent;
    margin-bottom: 8px;
    min-height: 260px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
    .training .service-box i, .training .service-box h3 {
      color: #1e1c1e;
      -webkit-transition: all 0.5s;
              transition: all 0.5s; }
    .training .service-box:hover {
      border-bottom: 1px solid #D7612B;
      color: black; }
      .training .service-box:hover i, .training .service-box:hover h3 {
        color: #D7612B; }
    .training .service-box p {
      text-align: justify; }
  @media (min-width: 785px) {
    .training .service-box {
      width: 32.20339%;
      float: right;
      margin-left: 1.69492%; }
    .training .service-box:last-child {
      float: left;
      margin-left: 0; } }

.contact {
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #222;
  color: #ffffff; }
  .contact header {
    text-align: center;
    font-size: 1.5em; }
    .contact header h2 {
      color: #D7612B; }
  .contact .contact-us {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .contact .contact-us:after {
      content: " ";
      display: block;
      clear: both; }
    .contact .contact-us .form-container {
      min-height: 50px; }
      .contact .contact-us .form-container:after {
        content: "";
        display: table;
        clear: both; }
      @media (min-width: 785px) {
        .contact .contact-us .form-container {
          width: 47.36842%;
          float: right;
          margin-left: 5.26316%; } }
      .contact .contact-us .form-container input, .contact .contact-us .form-container textarea {
        display: block;
        width: 100%;
        padding: 15px 8px;
        margin-bottom: 10px;
        color: #333;
        background-color: white;
        -webkit-transition: background 0.5s;
                transition: background 0.5s; }
      .contact .contact-us .form-container textarea {
        min-height: 100px; }
      .contact .contact-us .form-container button {
        width: 100%; }
      .contact .contact-us .form-container input:focus, .contact .contact-us .form-container textarea:focus {
        background: #e6e6e6; }
      .contact .contact-us .form-container .success {
        margin-top: 1em;
        text-align: center;
        opacity: 0;
        -webkit-transition: opacity 0.5s,color 2s;
                transition: opacity 0.5s,color 2s; }
        .contact .contact-us .form-container .success.show {
          opacity: 1;
          color: #e1b828; }
    .contact .contact-us .contacts-container {
      text-align: center; }
      @media (min-width: 785px) {
        .contact .contact-us .contacts-container {
          width: 47.36842%;
          float: left;
          margin-left: 0; } }
      .contact .contact-us .contacts-container .contact-person {
        display: inline-block;
        margin: 5px; }
        .contact .contact-us .contacts-container .contact-person img {
          max-height: 200px;
          margin-bottom: 5px;
          -webkit-transition: border-radius 1s;
                  transition: border-radius 1s; }
          .contact .contact-us .contacts-container .contact-person img:hover {
            border-radius: 50%; }
        .contact .contact-us .contacts-container .contact-person h2, .contact .contact-us .contacts-container .contact-person h3, .contact .contact-us .contacts-container .contact-person h4 {
          margin: 0; }
        .contact .contact-us .contacts-container .contact-person h4 {
          color: #e1b828; }

img {
  max-width: 100%; }
