<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">למד לתכנת ב-9 שבועות</h1>
        <h2 class="text-center">והתחל לעבוד מייד</h2>
    </div>
</div>

<div class="container">
    <h4>התפקיד</h4>
    <p>
        מיועד לבעלי זיקה לעולם התכנות המוכנים להשקיע 9 שבועות של לימוד אינטנסיבי, בתמורה לרכישת אחד המקצועות המעניינים והאטרקטיבים ביותר על גבי הפלנטה.
    </p>
    <p>
        הקבלה מותנית במעבר ראיון, מבחני יכולת חשיבה ואתגר פתיחה בלימוד עצמי - כך נוכל אתה ואנחנו לוודא שאתה פונה למקצוע שאתה הולך לאהוב ולהצליח בו.
    </p>
    <p>
        לאחר ההכשרה יתקבלו העומדים בדרישות לעבודה במיסטרביט או אצל אחת משותפיה / לקוחותיה.
    </p>

    <div class="text-center">
        <p><a class="btn btn-primary btn-lg" href="#/you" >ספר לי על זה</a></p>
    </div>

</div>
