<div class="container">
<h1 class="text-center" >נעים מאוד, אנחנו מיסטרביט</h1>
<h3 class="text-center"><a target="_blank" href="http://misterbit.co.il">misterBIT.co.il</a></h3>
<br/><br/>
<p>
        חברת מיסטרביט הוקמה ב2007 על ידי ירון ביטון- טכנולוג, איש הדרכה ובוגר מסלול המיחשוב הצבאי (בסמ"ח - ממר"ם).
</p>
<p>
        מתוך היכרות טכנולוגית עם חברות מובילות, ומתוך ניסיון בהכשרת אלפי מפתחים, אנו מהווים זרוע טכנולוגית איכותית למיזמים וחברות ומעורבים בפיתוח חומרי ההדרכה והמדריכים לשורה הראשונה של בתי ההדרכה הטכנולוגית בארץ.
</p>

<p>
    מיסטרביט היא בית תוכנה המבצע פרוייקטים עבור חברות וסטרטאפים מגוונים, בארץ ובעולם.
מתוך הצרכים הקיימים בשוק, בנינו את ההכשרה.
</p>

    <div class="text-center">
        <p><a class="btn btn-primary btn-lg" href="#/method" >ספר לי על ההכשרה</a></p>
    </div>




</div>