.contact {
  padding-top: 5em ;
  background-color: #222;
  color:#ffffff;
  h2 {
    text-align: center;
  }
  a{
    color:#ffffff;
  }

.comms {
  @include clearfix;
  .comm {
    margin:auto;
    text-align: center;
    @include breakpoint($m) {
      @include span(4)
    }
  }
  .comm:last-child {
    @include breakpoint($m) {
      @include last;
    }
  }
}


}
//
//
//#img-yaron {
//  float:left;
//  width:256px;
//  height: 384px;
//  border-radius: 20px;
//  background: url("/images/me/YaronBiton1.jpg");
//}
//
//#img-yaron:hover {
//  background: url("/images/me/YaronBiton2.jpg");
//}
