.contact {
  padding-top: 2em ;
  padding-bottom: 4em ;
  background-color: #222;
  color:#ffffff;



  header {
    text-align: center;
    font-size: 1.5em;
    h2 {color:$color1}
  }

  .contact-us {
    @include container(4);
    .form-container {
      @include clearfix;
      min-height:50px;
//      background: darkcyan;

      @include breakpoint($m) {
        @include span(2 of 4);
      }

      input,textarea {
        display:block;
        width:100%;
        padding:15px 8px;
        margin-bottom: 10px;
        color:#333;
        background-color: white;
        transition: background 0.5s;
//        border-radius: 2px;
      }
      textarea{min-height: 100px}
      button {
        @extend .my-btn;
        width:100%;

      }

      input:focus,textarea:focus {
        background: darken(white, 10%);
      }
      .success {
        margin-top:1em;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s,color 2s;
        &.show {
          opacity: 1;
          color:$color2;
        }
      }

    }
    .contacts-container {
      text-align: center;
      @include breakpoint($m) {
        @include span(2 of 4 last);
      }
      .contact-person {
        display: inline-block;
//        text-align: center;
//        float: right;
        margin:5px;

        img{
          max-height: 200px;
          margin-bottom: 5px;
          transition: border-radius 1s;
          &:hover {
            border-radius: 50%;
          }
        }
        h2,h3,h4 {margin: 0}
        h4 {color: $color2}
      }

    }



  }


//
//  h2 {
//    text-align: center;
//  }
//  a{
//    color:#ffffff;
//  }
//
//
//  form {
//    max-width: 800px;
//    display: block;
//    margin:auto;
//  }

}
//
//.comms {
//  @include clearfix;
//  .comm {
//    margin:auto;
//    text-align: center;
//    @include breakpoint($m) {
//      @include span(4)
//    }
//  }
//  .comm:last-child {
//    @include breakpoint($m) {
//      @include last;
//    }
//  }
//}

//
//
//#img-yaron {
//  float:left;
//  width:256px;
//  height: 384px;
//  border-radius: 20px;
//  background: url("/images/me/YaronBiton1.jpg");
//}
//
//#img-yaron:hover {
//  background: url("/images/me/YaronBiton2.jpg");
//}
