@media (min-width: 768px) {
  main.home {
    min-height: 100%;
  }
}

main.home {
  position: relative;
  background: url(../images/layout/bg.jpg) no-repeat fixed center center;
  background-size: cover;
  padding-bottom: 2em ;
//  height:auto;
  text-align: center;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  section {
    diaply:block;
    max-width:600px;
    margin:auto;
    padding-top: 100px;
    color: #fff;
    z-index: 3;
    h1 {
      margin: 0;
      color: #FFF;
      font-size: 4em;
      @include breakpoint($phone) {
        font-size: 5em;
      }
    }
    h2, h3 {
      font-family: 'yehuda_clm';
      animation-duration: 1.5s;
    }
    h2 {
      font-size: 3.7em;
      margin-top: 0.5em;
      margin-bottom: 0.2em;
      text-align: right;
      margin-right: 3.5em;
      animation-delay: 1s;
      @include breakpoint($phone) {
        margin-top: 1.5em;
        font-size: 2.7em;
        margin-right: 1.5em;
      }
    }
    h3 {
      margin-top: 0;
      font-size: 2.7em;
      margin-right: 7em;
      animation-delay: 1.5s;
    }
    p{
      font-size:1.4em;
      font-weight: 300;
      color: rgba(255,255,255,.9);
      margin: 80px 0px 40px 0px;
    }

//    header hr{
//      border-top:2px solid red;
//    }

  }
  @include breakpoint($phone) {
    .button {display: none;}
  }


}


//.the-job {
//  h4 {
//    text-align: center;
//    font-family: 'yehuda_clm';
//    font-size: 3.7em;
//    margin-top: 0.7em;
//    margin-bottom: 0.5em;
//    color: #D7612B;
//  }
//  p {
//    font-size: 1.6em;
//    line-height: 1.5em;
//  }
//}
header{
  margin: 2em 0 1em;
  font-size: 12.2px;
  text-align:center;
  position:relative;
}

header  hr{
  display:block;
  position: absolute;
  border-top:2px solid #000;
  left: 0px;
  width:100%;
  margin:0;
}
header hr.right{
  left:auto;
  right:0px;
}
header  hr#thread1{
  top: 0.1em;
//  border-color:#3953a4;
  -webkit-animation: thread2 10s infinite;
  -moz-animation:    thread2 10s infinite;
  -o-animation:      thread2 10s infinite;
  animation:         thread2 10s infinite;
}
header hr#thread2{
  top:3.2em;
  /*right:15px;*/
  -webkit-animation: thread2 8s infinite;
  -moz-animation:    thread2 8s infinite;
  -o-animation:      thread2 8s infinite;
  animation:         thread2 8s infinite;
}
header hr#thread3{
  top:3.2em;
  -webkit-animation: thread2 6s infinite;
  -moz-animation:    thread2 6s infinite;
  -o-animation:      thread2 6s infinite;
  animation:         thread2 6s infinite;
}
header hr#thread4{
  top:3.8em;
//  border-color:#b23836;
  -webkit-animation: thread2 12s infinite;
  -moz-animation:    thread2 12s infinite;
  -o-animation:      thread2 12s infinite;
  animation:         thread2 12s infinite;
}
header hr#thread5{
  top:4.8em;
  border-color:#3953a4;
  -webkit-animation: thread2 16s infinite;
  -moz-animation:    thread2 16s infinite;
  -o-animation:      thread2 16s infinite;
  animation:         thread2 16s infinite;
}
header hr#thread6{
  top:5.8em;
  -webkit-animation: thread2 6s infinite;
  -moz-animation:    thread2 6s infinite;
  -o-animation:      thread2 6s infinite;
  animation:         thread2 6s infinite;
}
//@media (min-width: 768px) {
//  header{
//    font-size:18px;
//  }
//  h1.site-title a{
//    width:416px;
//    height:120px;
//    margin: 0px auto 0px;
//    text-indent: -9999px;
//    background: url(http://loomweb.co.za/wp-content/themes/starkers/img/loom-logo-2.png) 50% 5px no-repeat;
//  }
//  h1.site-title small{
//    font-size: 35px;
//  }
//  header  hr {
//
//    border-width:3px;
//  }
//
//
//}
//
//@media (min-width: 992px) {
//  header  hr {
//
//  }
//}
//
//@media (min-width: 1200px) {
//  header  hr {
//
//  }
//}
@-webkit-keyframes thread2 {
  0%   { width: 100%; }
  50% { width: 100%; }
  80% { width: 0px;}
  100%{ width:100%;}
}
@-moz-keyframes thread2 {
  0%   { width: 100%; }
  50% { width: 100%; }
  80% { width: 0px;}
  100%{ width:100%;}
}
@-o-keyframes thread2 {
  0%   { width: 100%; }
  50% { width: 100%; }
  80% { width: 0px;}
  100%{ width:100%;}
}
@keyframes thread2 {
  0%   { width: 100%; }
  50% { width: 100%; }
  80% { width: 0px;}
  100%{ width:100%;}
}
