$duration: 1s;
$delay: .2s;
$function: ease;
$fill: both;
$visibility: hidden;

@import "properties";
@import "bounce";
@import "fadeIn";
@import "bounceInDown";
@import "fadeInLeft";
@import "fadeInRight";
@import "tada";
@import "swing";
@import "flipInX";
@import "fadeOutLeft";

.bounce {
	@include bounce($duration, $delay, $function, $fill, $visibility);
}
.fadeIn {
  @include fadeIn($duration, $delay, $function, $fill, $visibility);
}
.fadeInLeft {
  @include fadeInLeft($duration, $delay, $function, $fill, $visibility);
}
.fadeInRight {
  @include fadeInRight($duration, $delay, $function, $fill, $visibility);
}

.bounceInUp {
  @include bounceInDown($duration, $delay, $function, $fill, $visibility);
}

.tada {
  @include tada($duration, $delay, $function, $fill, $visibility);
}

.swing {
  @include swing($duration, $delay, $function, $fill, $visibility);
}
.flipInX {
  @include flipInX($duration, $delay, $function, $fill, $visibility);
}
.fadeOutLeft {
  @include fadeOutLeft($duration, $delay, $function, $fill, $visibility);
}
