.us {
  h1 {
    font-size: 4em;
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0.3em;
    a {
      font-size: 2em;
      text-decoration: none;
      color: #54A4AF;
      font-family: 'Gloria Hallelujah', cursive;
    }
  }
  p {
    font-size: 2em;
    line-height: 2em;
    &:first-of-type {
      margin-top: 0;
    }
  }
}