$susy: (
  columns: 12,
  gutters: .25,
  flow: 'rtl',
  container: 90%
);

$btnColor: #f05f40;

body, html {
  direction: rtl;
//  background: url(../images/body.png);
  font-family: 'yehuda_clm';
  font-weight: bold;
//  padding-bottom: 3em;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  @include container(90%);
}

.row {
  @include susy-clearfix;
}


@font-face {
  font-family: 'yehuda_clm';
  src: url('../fonts/yehudaclm-light-webfont.eot');
  src: url('../fonts/yehudaclm-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/yehudaclm-light-webfont.woff') format('woff'),
  url('../fonts/yehudaclm-light-webfont.ttf') format('truetype'),
  url('../fonts/yehudaclm-light-webfont.svg#yehuda_clmlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

.relative {
  position: relative;
}

.tl {
  text-align: left;
}
.tc {
  text-align: center;
}

.view-animation.ng-enter {
  animation: fadeIn 0.6s;
}

.mt {
  margin-top: 1em;
}


.valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}