[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0); }
  40% {
    -ms-transform: translateY(-30px); }
  60% {
    -ms-transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px); }
  80% {
    -moz-transform: translateY(-10px); }
  100% {
    -moz-transform: translateY(0); } }
@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -ms-transform: translateY(30px); }
  80% {
    -ms-transform: translateY(-10px); }
  100% {
    -ms-transform: translateY(0); } }
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -o-transform: translateY(30px); }
  80% {
    -o-transform: translateY(-10px); }
  100% {
    -o-transform: translateY(0); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }
  60% {
    opacity: 1;
    transform: translateY(30px); }
  80% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -o-transform: translateX(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }
@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px); }
  100% {
    opacity: 1;
    -o-transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0); } }
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1); }
  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg); }
  100% {
    -moz-transform: scale(1) rotate(0); } }
@-ms-keyframes tada {
  0% {
    -ms-transform: scale(1); }
  10%, 20% {
    -ms-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -ms-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -ms-transform: scale(1.1) rotate(-3deg); }
  100% {
    -ms-transform: scale(1) rotate(0); } }
@-o-keyframes tada {
  0% {
    -o-transform: scale(1); }
  10%, 20% {
    -o-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -o-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -o-transform: scale(1.1) rotate(-3deg); }
  100% {
    -o-transform: scale(1) rotate(0); } }
@keyframes tada {
  0% {
    transform: scale(1); }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg); }
  100% {
    transform: scale(1) rotate(0); } }
@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center; }
  20% {
    -webkit-transform: rotate(15deg); }
  40% {
    -webkit-transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate(15deg); }
  40% {
    -moz-transform: rotate(-10deg); }
  60% {
    -moz-transform: rotate(5deg); }
  80% {
    -moz-transform: rotate(-5deg); }
  100% {
    -moz-transform: rotate(0deg); } }
@-ms-keyframes swing {
  20% {
    -ms-transform: rotate(15deg); }
  40% {
    -ms-transform: rotate(-10deg); }
  60% {
    -ms-transform: rotate(5deg); }
  80% {
    -ms-transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg); } }
@-o-keyframes swing {
  20% {
    -o-transform: rotate(15deg); }
  40% {
    -o-transform: rotate(-10deg); }
  60% {
    -o-transform: rotate(5deg); }
  80% {
    -o-transform: rotate(-5deg); }
  100% {
    -o-transform: rotate(0deg); } }
@keyframes swing {
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg); }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@-moz-keyframes flipInX {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg); }
  70% {
    -moz-transform: perspective(400px) rotateX(10deg); }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@-o-keyframes flipInX {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -o-transform: perspective(400px) rotateX(-10deg); }
  70% {
    -o-transform: perspective(400px) rotateX(10deg); }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateX(-10deg); }
  70% {
    transform: perspective(400px) rotateX(10deg); }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px); } }
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px); } }
@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -ms-transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(-20px); } }
@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(0); }
  100% {
    opacity: 0;
    -o-transform: translateX(-20px); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-20px); } }
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.bounceInUp {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.tada {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -ms-animation-name: tada;
  -o-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -ms-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.flipInX {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -ms-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body, html {
  direction: rtl;
  font-family: 'yehuda_clm';
  font-weight: bold;
  overflow-x: hidden; }

a {
  cursor: pointer;
  text-decoration: none; }

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.row:after {
  content: " ";
  display: block;
  clear: both; }

@font-face {
  font-family: 'yehuda_clm';
  src: url("../fonts/yehudaclm-light-webfont.eot");
  src: url("../fonts/yehudaclm-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yehudaclm-light-webfont.woff") format("woff"), url("../fonts/yehudaclm-light-webfont.ttf") format("truetype"), url("../fonts/yehudaclm-light-webfont.svg#yehuda_clmlight") format("svg");
  font-weight: normal;
  font-style: normal; }
.relative {
  position: relative; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.view-animation.ng-enter {
  animation: fadeIn 0.6s; }

.mt {
  margin-top: 1em; }

.valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

@media (min-width: 768px) {
  main.home {
    min-height: 100%; } }
main.home {
  position: relative;
  background: url(../images/layout/bg.jpg) no-repeat fixed center center;
  background-size: cover;
  padding-bottom: 2em;
  text-align: center; }
  main.home .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  main.home section {
    diaply: block;
    max-width: 600px;
    margin: auto;
    padding-top: 100px;
    color: #fff;
    z-index: 3; }
    main.home section h1 {
      margin: 0;
      color: #FFF;
      font-size: 4em; }
      @media (max-width: 785px) {
        main.home section h1 {
          font-size: 5em; } }
    main.home section h2, main.home section h3 {
      font-family: 'yehuda_clm';
      animation-duration: 1.5s; }
    main.home section h2 {
      font-size: 3.7em;
      margin-top: 0.5em;
      margin-bottom: 0.2em;
      text-align: right;
      margin-right: 3.5em;
      animation-delay: 1s; }
      @media (max-width: 785px) {
        main.home section h2 {
          margin-top: 1.5em;
          font-size: 2.7em;
          margin-right: 1.5em; } }
    main.home section h3 {
      margin-top: 0;
      font-size: 2.7em;
      margin-right: 7em;
      animation-delay: 1.5s; }
    main.home section p {
      font-size: 1.4em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.9);
      margin: 80px 0px 40px 0px; }
  @media (max-width: 785px) {
    main.home .button {
      display: none; } }

header {
  margin: 2em 0 1em;
  font-size: 12.2px;
  text-align: center;
  position: relative; }

header hr {
  display: block;
  position: absolute;
  border-top: 2px solid #000;
  left: 0px;
  width: 100%;
  margin: 0; }

header hr.right {
  left: auto;
  right: 0px; }

header hr#thread1 {
  top: 0.1em;
  -webkit-animation: thread2 10s infinite;
  -moz-animation: thread2 10s infinite;
  -o-animation: thread2 10s infinite;
  animation: thread2 10s infinite; }

header hr#thread2 {
  top: 3.2em;
  /*right:15px;*/
  -webkit-animation: thread2 8s infinite;
  -moz-animation: thread2 8s infinite;
  -o-animation: thread2 8s infinite;
  animation: thread2 8s infinite; }

header hr#thread3 {
  top: 3.2em;
  -webkit-animation: thread2 6s infinite;
  -moz-animation: thread2 6s infinite;
  -o-animation: thread2 6s infinite;
  animation: thread2 6s infinite; }

header hr#thread4 {
  top: 3.8em;
  -webkit-animation: thread2 12s infinite;
  -moz-animation: thread2 12s infinite;
  -o-animation: thread2 12s infinite;
  animation: thread2 12s infinite; }

header hr#thread5 {
  top: 4.8em;
  border-color: #3953a4;
  -webkit-animation: thread2 16s infinite;
  -moz-animation: thread2 16s infinite;
  -o-animation: thread2 16s infinite;
  animation: thread2 16s infinite; }

header hr#thread6 {
  top: 5.8em;
  -webkit-animation: thread2 6s infinite;
  -moz-animation: thread2 6s infinite;
  -o-animation: thread2 6s infinite;
  animation: thread2 6s infinite; }

@-webkit-keyframes thread2 {
  0% {
    width: 100%; }
  50% {
    width: 100%; }
  80% {
    width: 0px; }
  100% {
    width: 100%; } }
@-moz-keyframes thread2 {
  0% {
    width: 100%; }
  50% {
    width: 100%; }
  80% {
    width: 0px; }
  100% {
    width: 100%; } }
@-o-keyframes thread2 {
  0% {
    width: 100%; }
  50% {
    width: 100%; }
  80% {
    width: 0px; }
  100% {
    width: 100%; } }
@keyframes thread2 {
  0% {
    width: 100%; }
  50% {
    width: 100%; }
  80% {
    width: 0px; }
  100% {
    width: 100%; } }
nav.main-nav {
  background-color: rgba(5, 5, 5, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  transition: all 0.2s; }
  nav.main-nav input[type=checkbox], nav.main-nav label {
    display: none; }
  nav.main-nav ul {
    list-style: none;
    margin-bottom: 0; }
  nav.main-nav li {
    display: inline-block;
    line-height: 40px;
    position: relative;
    padding: 0 1.6em; }
    nav.main-nav li div {
      height: 2px;
      background: #FACB61;
      position: absolute;
      bottom: 0;
      width: 0;
      transition: all 0.3s; }
    nav.main-nav li:hover a > i {
      color: #e9f48d; }
    nav.main-nav li:hover div {
      width: 110px; }
  nav.main-nav li a {
    color: #c8c8c8;
    width: 100%;
    display: inline-block;
    font-size: 1.2em; }
    nav.main-nav li a:hover {
      color: #fff; }
  nav.main-nav .active > div {
    width: 110px; }
  nav.main-nav.navWhenScroll {
    background-color: black;
    font-size: 0.8em; }

@media (max-width: 785px) {
  nav.main-nav {
    background-color: #050505;
    width: 100%; }
    nav.main-nav label {
      display: inline-block;
      width: 50px;
      cursor: pointer;
      margin-right: 20px;
      transform: translateY(8px); }
      nav.main-nav label i {
        font-size: 2em !important;
        color: #fff; }
    nav.main-nav input[type=checkbox]:checked ~ ul {
      max-height: 350px; }
    nav.main-nav ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height .6s linear; }
    nav.main-nav ul li {
      display: block; } }
.button {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 14px 6px -1px gray;
  /* shadow */
  -webkit-transition: -webkit-box-shadow .1s ease-in-out; }

.button span {
  background-color: #E8E8E8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(210, 210, 210, 0.3)), color-stop(20%, rgba(210, 210, 210, 0)), color-stop(80%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.5)), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, #D2D2D1), color-stop(60%, #D2D2D1), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  -webkit-box-shadow: 0px -1px #fff, 0px 1px 1px #FFFFFF;
  /* bottom edge */
  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  color: #76A163;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20', 'PT Sans Narrow';
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 1px #fff, 0px -1px #262F33; }

.button span:hover {
  color: #198130;
  text-shadow: 0px -1px #97A63A;
  cursor: pointer; }

.button:active {
  -webkit-box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 10px 2px 0px rgba(128, 128, 128, 0.6);
  /* shadow */ }

.button:active span {
  -webkit-transform: translate(0, 5px);
  /* depth of button press */ }

.you {
  color: #fff;
  background-color: #222;
  display: block;
  padding: 50px 0px; }
  .you h1 {
    font-size: 3em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    text-shadow: 4px 4px 2px #969696; }
  .you p {
    font-size: 1.6em; }
    .you p i {
      color: #D7612B; }
  .you .tc h3 {
    font-size: 2em;
    color: #D7612B; }
  .you .tl {
    margin-top: 2.7em; }

.check-anim-1 {
  animation-duration: 0.5s;
  animation-delay: 1s; }

.check-anim-2 {
  animation-duration: 0.5s;
  animation-delay: 2s; }

.check-anim-3 {
  animation-duration: 0.5s;
  animation-delay: 3s; }

.check-anim-4 {
  animation-duration: 0.5s;
  animation-delay: 4s; }

.check-anim-5 {
  animation-duration: 0.5s;
  animation-delay: 5s; }

.check-anim-6 {
  animation-duration: 0.5s;
  animation-delay: 6s; }

.check-anim-7 {
  animation-duration: 0.5s;
  animation-delay: 7s; }

.us {
  background-color: #f05f40;
  display: block;
  padding-top: 50px;
  /* companyBox */ }
  .us h1 {
    font-size: 4em;
    margin-bottom: 0;
    color: white;
    text-shadow: 4px 4px 2px #4c4c4c; }
  .us .inner {
    padding-top: 2em; }
    .us .inner:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 400px) {
      .us .inner .desc {
        width: 66.10169%;
        float: right;
        margin-left: 1.69492%; } }
    @media (min-width: 400px) {
      .us .inner .ninja-canvas-container {
        width: 32.20339%;
        float: left;
        margin-left: 0; } }
  .us .ninja-canvas-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: auto;
    position: relative;
    cursor: crosshair; }
    @media (max-width: 785px) {
      .us .ninja-canvas-container {
        display: none; } }
    .us .ninja-canvas-container img {
      position: absolute; }
    .us .ninja-canvas-container canvas {
      position: relative;
      left: 30px; }
  .us #companySlider, .us #companyBoxsWrappeer, .us #companyBoxsSlider {
    height: 176px; }
    @media (max-width: 785px) {
      .us #companySlider, .us #companyBoxsWrappeer, .us #companyBoxsSlider {
        display: none; } }
  .us #companySlider {
    position: relative;
    width: 768px;
    margin: auto;
    /*bottom:16px;*/ }
  .us #companyBoxsWrappeer {
    width: 648px;
    overflow: hidden;
    position: absolute;
    left: 60px; }
  .us #companyBoxsSlider {
    width: 1700px;
    position: absolute;
    left: 0;
    top: 0; }
  .us .companyBox {
    width: 140px;
    height: 140px;
    display: block;
    background: white;
    float: left;
    margin-left: 22px;
    margin-bottom: 16px;
    margin-top: 19px;
    position: relative;
    box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 1s;
    text-align: center; }
    .us .companyBox:hover {
      box-shadow: 14px -5px 5px 0px rgba(0, 0, 0, 0.75); }
    .us .companyBox img {
      vertical-align: middle; }
  .us .companyLogo {
    border-radius: 7px;
    position: absolute;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: 4;
    width: 139px;
    height: 139px;
    border: 1px solid #fbfbfb; }
  .us #companySliderArrowleft, .us #companySliderArrowRight, .us .companyBox_gray_1, .us .companyBox_gray_2, .us .companyBox_gray_3, .us .companyBox_gray_4, .us .companyBox_gray_5, .us .companyBox_shadow {
    background: url(../images/companyBox.png) no-repeat top left;
    position: absolute;
    z-index: 5; }
  .us #companySliderArrowleft {
    background-position: 0 0;
    width: 44px;
    height: 48px; }
  .us #companySliderArrowRight {
    background-position: 0 -98px;
    width: 41px;
    height: 48px; }
  .us #companySliderArrowRight, .us #companySliderArrowleft {
    top: 62px;
    opacity: 0.5;
    cursor: pointer; }
  .us #companySliderArrowRight:hover, .us #companySliderArrowleft:hover {
    opacity: 1; }
  .us #companySliderArrowRight {
    right: 0; }
  .us #companySliderArrowleft {
    left: 0; }

.training {
  background-image: linear-gradient(to top, #FFFFFF 0%, #3366FF 100%);
  display: block;
  padding: 20px 0px; }
  .training img.cloud {
    position: absolute; }
    .training img.cloud:first-child {
      left: 40px; }
  .training hr {
    width: 40%;
    margin-top: 5em; }
  .training h2.tc {
    margin-bottom: 2em;
    color: white; }
  .training .service-box {
    text-align: center; }
    .training .service-box:nth-child(1) i, .training .service-box:nth-child(1) h3 {
      color: #000088; }
    .training .service-box:nth-child(2) i, .training .service-box:nth-child(2) h3 {
      color: #f45d40; }
    .training .service-box:nth-child(3) i, .training .service-box:nth-child(3) h3 {
      color: #006600; }
  @media (min-width: 400px) {
    .training .service-box {
      width: 32.20339%;
      float: right;
      margin-left: 1.69492%; }
    .training .service-box:last-child {
      float: left;
      margin-left: 0; } }

.contact {
  padding-top: 5em;
  background-color: #222;
  color: #ffffff; }
  .contact h2 {
    text-align: center; }
  .contact a {
    color: #ffffff; }
  .contact .comms:after {
    content: "";
    display: table;
    clear: both; }
  .contact .comms .comm {
    margin: auto;
    text-align: center; }
    @media (min-width: 400px) {
      .contact .comms .comm {
        width: 32.20339%;
        float: right;
        margin-left: 1.69492%; } }
  @media (min-width: 400px) {
    .contact .comms .comm:last-child {
      float: left;
      margin-left: 0; } }

img {
  max-width: 100%; }

/*# sourceMappingURL=main.css.map */
