.training {
  color:#ddd;
  background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);
  display:block;
  padding: 20px 10px;
  @include clearfix;
  .principles {
    color:#333;
    max-width: 1000px;
    margin:auto
  }


  .desc {
    max-width:600px;
    font-size: 1.3em;
  }


  img.cloud1{
    position:absolute;
    right:0px;
  }
  img.cloud2{
    position:absolute;
    left:20px;
  }

  hr {
    width:40%;
    margin:auto;
    margin-top:5em;
  }
  h2.tc {
    margin-bottom: 2em;
  }

  a.text-info {
    color:#fff;

  }


  .service-box {
    text-align: center;
    p {
      text-align: justify;
    }
    &:nth-child(1) {
      i,h3 {
        color:#d7622c;
      }

    }
    &:nth-child(2) {
      i,h3 {
        color: #d74b59;
      }
    }
    &:nth-child(3) {
      i,h3 {
        color: #006600;
      }
    }

  }


  @include breakpoint($m) {
    .service-box {
      @include span(4);

    }
    .service-box:last-child {
      @include last;
    }

  }


}

