.training {
  @include span(12);
  nav {
    @include span(3);
    margin: 0 auto;
    background: transparent;
    ul {
      padding: 0;
      margin-top: 2.2em;
    }
    ul li {
      display: block;
      position: relative;
      margin-bottom: 1em;
      background: #21B5D3;
      a {
        transition: all .6s;
      }
      &:hover {
        a {
          transform: translateX(-15px);
        }
      }
    }
    ul li span{
      position: absolute;
      left: -50px;
      top:0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 50px 30px 0;
        border-color: transparent #21b5d3 transparent transparent;
    }
    .active {
      background: #3A59A0;
      span {
        border-color: transparent #3A59A0 transparent transparent;
      }
    }
  }
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.4em;
    line-height: 1.6em;
  }


}
.training {
  counter-reset: section;
  main {
    @include span(8 last);
  }
  dt{
    margin-top: 1em;
    font-size: 1.5em;
    color:#3A59A0;
    &:before {
      counter-increment: section;
      content: counter(section) ". ";
      color:#3A59A0;
    }
  }
  dd {
    margin-top: 0.7em;
    font-size: 1.2em;
    line-height: 30px;
  }
  h3 {
    font-size: 1.9em
  }
}

.view-animation-tr.ng-enter {
  animation: fadeInRight 0.6s;
}

