nav {
  background: #D7612B;
  ul {
    list-style: none;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    line-height: 60px;
    position: relative;
    padding: 0 1.6em;
    div {
      height: 2px;
      background: #63FFF5;
      position: absolute;
      bottom: 0;
      width: 0;
      transition: all 0.3s;
    }
    &:hover {
      div {
        width:110px;
      }
    }
  }
  li a {
    color: #fff;
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
  }
  .active > div {
    width:110px;
  }
}